<!doctype html>
<html lang="ro">
    <head>
        <meta charset="utf-8">
        <title>Magazin acvaristică</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/img/fav.ico">
        <script src="/js/popper.min.js"></script>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
		<ul id="opt">
			<li><a href="/admin/optiuni/adauga">Adaugă articole</a></li>
			<li><a href="/admin/optiuni/editare">Editare articole</a></li>
			<li><a href="/admin/optiuni/stergere">Șterge articole</a></li>
			<li><a href="/admin/optiuni/comenzi">Vizualizare comenzi</a></li>
			<li><a href="/admin/optiuni/oferte">Oferte și promoții</a></li>
		</ul>
	</body>
</html>