<th:block th:include="header">...</th:block>
<form action="cauta" method="GET" th:object="${mainQuery}">
	<div id="cauta">
		<button type="submit">Caută:</button>
		<input name="text" th:value="${mainQuery != null ? mainQuery.text : ''}"/>
	</div>
	<aside id="asideLeft" class="mt-2 mb-2">
		<p>Categorii:</p>
		<div class="inline-block"><input th:checked="${mainQuery != null && mainQuery.pesti != ''}" type="checkbox" name="pesti" value="pesti" id="pesti" onclick="form.submit()"/><label for="pesti" >Pești</label></div>
		<div class="inline-block"><input th:checked="${mainQuery != null && mainQuery.hrana != ''}" type="checkbox" name="hrana" value="hrana" id="hrana" onclick="form.submit()"/><label for="hrana" >Hrană</label></div>
		<div class="inline-block"><input th:checked="${mainQuery != null && mainQuery.accesorii != ''}" type="checkbox" name="accesorii" value="accesorii" id="acc" onclick="form.submit()"/><label for="acc">Accesorii</label></div>
		<input th:checked="${mainQuery != null && mainQuery.acv != ''}" type="checkbox" name="acv" value="acv" id="acv" onclick="form.submit()"/><label for="acv">Acvarii</label><br>
		<p>Sortare:</p>
		<div class="inline-block"><input th:checked="${mainQuery != null && mainQuery.order == 'nume'}" type="radio" name="order" value="nume" id="den" onclick="form.submit()"/><label for="den">Denumire</label></div>
		<input th:checked="${mainQuery != null && mainQuery.order == 'pret'}" type="radio" name="order" value="pret" id="pret" onclick="form.submit()"/><label for="pret">Preț</label><br>
	</aside>
	<aside id="asideRight">
		<div class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">

			<th:block th:each="offer, k: ${offers}">

				<th:block th:if="${k.index==0}">
					 <div class="carousel-item active">
					  <img class="d-block w-100" th:src="'/uploads/offers/' + ${offers[k.index].url}" alt="First slide">
					</div>
				</th:block>
				<th:block th:unless="${k.index==0}">
					<div class="carousel-item">
					  <img class="d-block w-100" th:src="'/uploads/offers/' + ${offers[k.index].url }">
					</div>
				</th:block>

			 </th:block>
		  </div>
		</div>
	</aside>
	<div id=main>
		<th:block th:each="article: ${articles}">
			<a th:href="'descriere?id=' +${article.id}" class="article">
				<span class="img"><img th:src="'/uploads/' + ${article.imageURL}"></span>
				<span class="name" th:text="${article.name}"></span>
				<span class="price" th:text="'Preț: ' + ${article.price} + ' lei'"></span>
			</a>
		</th:block>
	</div>
	<div id="paging">

		<th:block th:if="${page==1}">
			<button type="submit" name="page" value="${page}">&lt;-</button>
		</th:block>
		<th:block th:unless="${page==1}">
			<button type="submit" name="page" value="${page-1}">&lt;-</button>
		</th:block>

		<span th:text="'Pagina '+${page}+' din '+${pages}"></span>

		<th:block th:if="${page==pages}">
			<button type="submit" name="page" th:value="${page}">-&gt;</button>
		</th:block>
		<th:block th:unless="${page==pages}">
			<button type="submit" name="page" th:value="${page+1}">-&gt;</button>
		</th:block>

	</div>
</form>
<th:block th:include="footer">...</th:block>