<th:block th:include="header">...</th:block>
	<section id="login">
	   	<form action="/login" method="POST" >
	   		<label>Adresa email</label>
	   		<input name="email"/><br>
	   		<label>Parola:</label><br>
	   		<input type="password" name="password"/><br>
	   		<p style="color: green; font-weight: bold" th:text="${msg}"></p>
	   		<button type="submit">Întră în cont</button><br>
	   	</form>
	   	<form action="/recuperare" method="GET">
	   		<button type="submit">Recuperare parolă</button>
	   	</form>
   	</section>
   	<p></p>
<th:block th:include="footer">...</th:block>